header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 1rem ;
}
.logo{
    font-size: 2rem;
}
nav{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.4rem;
}
.daily-offers, .products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    gap: 1.8rem;
}
.offers-card,
.product-card{
    /* background: var(--color-items); */
    padding: 1rem ;
    border: 1px solid black;
    border-radius: 1rem;

    transition: transform 0.3s ease-in;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.offers-card:hover,
.product-card:hover{
transform: scale(1.01);
box-shadow: 0 2px 10px black;
}
.product-card img,
.offers-card img {
  width: 100%;        /* fill parent width */
  height: 15rem;      /* optional fixed height for uniformity */
  object-fit: cover;  /* crop image to fill without distortion */
  border-radius: 1rem; /* optional */
}
.index-head{
    color: rgba(93, 92, 92, 0.845);
    font-size: 2.4rem;
    font-weight: 800;
    padding: 1.7rem 0;
    margin-top: 1.5rem;
}
.title{
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
}
.price{
    font-size: 1.4rem;
}